/*
 * Default specific component styling
 */
.wc-spacer {
    @apply max-md:hidden;
}

/*
 * Width
 */
.wc-w-1 {
        @apply col-span-12 md:col-span-1;
    }
    .wc-w-2 {
        @apply col-span-12 md:col-span-2;
    }
    .wc-w-3 {
        @apply col-span-12 md:col-span-3;
    }
    .wc-w-4 {
        @apply col-span-12 md:col-span-4;
    }
    .wc-w-5 {
        @apply col-span-12 md:col-span-5;
    }
    .wc-w-6 {
        @apply col-span-12 md:col-span-6;
    }
    .wc-w-7 {
        @apply col-span-12 md:col-span-7;
    }
    .wc-w-8 {
        @apply col-span-12 md:col-span-8;
    }
    .wc-w-9 {
        @apply col-span-12 md:col-span-9;
    }
    .wc-w-10 {
        @apply col-span-12 md:col-span-10;
    }
    .wc-w-11 {
        @apply col-span-12 md:col-span-11;
    }
    .wc-w-12 {
        @apply col-span-12;
    }

/*
 * Padding
 */
    .wc-py-0 {
        @apply py-0;
    }
    .wc-py-1 {
        @apply py-0.5;
    }
    .wc-py-2 {
        @apply py-1;
    }
    .wc-py-3 {
        @apply py-1.5;
    }
    .wc-py-4 {
        @apply py-2;
    }
    .wc-py-5 {
        @apply py-2.5;
    }
    .wc-py-6 {
        @apply py-3;
    }
    .wc-py-7 {
        @apply py-3.5;
    }
    .wc-py-8 {
        @apply py-4;
    }
    .wc-py-9 {
        @apply py-5;
    }
    .wc-py-10 {
        @apply py-6;
    }
    .wc-py-11 {
        @apply py-7;
    }
    .wc-py-12 {
        @apply py-8;
    }
    .wc-py-13 {
        @apply py-9;
    }
    .wc-py-14 {
        @apply py-10;
    }
    .wc-py-15 {
        @apply py-11;
    }
    .wc-py-16 {
        @apply py-12;
    }
    .wc-py-17 {
        @apply py-14;
    }
    .wc-py-18 {
        @apply py-16;
    }
    .wc-py-19 {
        @apply py-20;
    }
    .wc-py-20 {
        @apply py-24;
    }
    .wc-py-21 {
        @apply py-28;
    }
    .wc-py-22 {
        @apply py-32;
    }
    .wc-py-23 {
        @apply py-36;
    }
    .wc-py-24 {
        @apply py-40;
    }

    .wc-px-0 {
        @apply px-0;
    }
    .wc-px-1 {
        @apply px-0.5;
    }
    .wc-px-2 {
        @apply px-1;
    }
    .wc-px-3 {
        @apply px-1.5;
    }
    .wc-px-4 {
        @apply px-2;
    }
    .wc-px-5 {
        @apply px-2.5;
    }
    .wc-px-6 {
        @apply px-3;
    }
    .wc-px-7 {
        @apply px-3.5;
    }
    .wc-px-8 {
        @apply px-4;
    }
    .wc-px-9 {
        @apply px-5;
    }
    .wc-px-10 {
        @apply px-6;
    }
    .wc-px-11 {
        @apply px-7;
    }
    .wc-px-12 {
        @apply px-8;
    }
    .wc-px-13 {
        @apply px-9;
    }
    .wc-px-14 {
        @apply px-10;
    }
    .wc-px-15 {
        @apply px-11;
    }
    .wc-px-16 {
        @apply px-12;
    }
    .wc-px-17 {
        @apply px-14;
    }
    .wc-px-18 {
        @apply px-16;
    }
    .wc-px-19 {
        @apply px-20;
    }
    .wc-px-20 {
        @apply px-24;
    }
    .wc-px-21 {
        @apply px-28;
    }
    .wc-px-22 {
        @apply px-32;
    }
    .wc-px-23 {
        @apply px-36;
    }
    .wc-px-24 {
        @apply px-40;
    }


/*
 * Border
 */
    .wc-img-radius-0 {
        border-radius: 0;
    }
    .wc-img-radius-1 {
        border-radius: 0.125rem;
    }
    .wc-img-radius-2 {
        border-radius: 0.25rem;
    }
    .wc-img-radius-3 {
        border-radius: 0.375rem;
    }
    .wc-img-radius-4 {
        border-radius: 0.5rem;
    }
    .wc-img-radius-5 {
        border-radius: 0.75rem;
    }
    .wc-img-radius-6 {
        border-radius: 1rem;
    }
    .wc-img-radius-7 {
        border-radius: 1.5rem;
    }
    .wc-img-radius-8 {
        border-radius: 2rem;
    }
    .wc-img-radius-9 {
        border-radius: 2.5rem;
    }
    .wc-img-radius-10 {
        border-radius: 3rem;
    }
    .wc-img-radius-11 {
        border-radius: 3.5rem;
    }
    .wc-img-radius-12 {
        border-radius: 4rem;
    }
    .wc-img-radius-13 {
        border-radius: 5rem;
    }
    .wc-img-radius-14 {
        border-radius: 6rem;
    }
    .wc-img-radius-15 {
        border-radius: 7rem;
    }
    .wc-img-radius-16 {
        border-radius: 8rem;
    }
    .wc-img-radius-17 {
        border-radius: 9rem;
    }
    .wc-img-radius-18 {
        border-radius: 100%;
    }
